.Title {
  display: flex;
  justify-content: space-between;
}

.Title button {
  align-self: center;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Form input[type="submit"] {
  width: 100%;
}

.FormFields {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}

.FormGroup {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}
.container {
  display: flex;
  justify-content: space-between;

  button {
    align-self: center;
  }
}
