.Alert {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: salmon;
  color: #fff;
  font-size: 13px;

  & span {
    cursor: pointer;
  }
}
